:root {
    --mainColor: #15202B;
    --secondaryColor: #192734;

    --borderColor: #164d56;

    --mainText: white;
    --secondaryText: #eeeeee;

    --themeDotBorder: white;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;
}

#navigation a{
    color: var(--mainText);
}